body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.col {
  flex: 1;
  padding: 15px;
}

.row > .col:first-child {
  border-right: 1px solid #ccc;
}

.row > .col:last-child {
  background: #fafafa;
}

.searchbox-wrapper {
  display: flex;
}

.result-list-container {
  position: relative;
}

.result-list-container .results-loader {
  position: sticky;
  height: 100%;
  width: 100%;
  inset: 0;
  display: flex;
  align-items: flex-start;
  justifty-content: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  .row.--main-content-wrapper {
    flex-direction: column-reverse;
  }

  .row.--main-content-wrapper .col:first-child {
    border-right: none;
  }
  .col.tags-filter-wrapper {
    max-width: 100%;
  }
}
