.question-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
}

.question-card__voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
}

.question-card__score {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.question-card__content {
  flex: 1;
  margin-right: 16px;
}

.question-card__title {
  margin-bottom: 16px;
  position: relative;
}

.question-card__ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.question-card__tooltip {
  display: none;
  /* Styles for the tooltip */
}

.question-card__answer {
  margin-bottom: 16px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.question-card__tags {
  margin-bottom: 8px;
}

.question-card__tag {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.question-card__tag.--tag-selected {
  background-color: #316aff;
  color: white;
}

.question-card__details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
  justify-content: space-between;
}

.question-card__date {
  font-size: 14px;
  color: #888;
  margin-bottom: 8px;
}

.question-card__view-details {
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
}
.question-card__view-details:hover {
  filter: brightness(1.1);
}

@media (max-width: 768px) {
  .question-card {
    flex-direction: column;
  }

  .question-card__voting {
    margin-bottom: 16px;
  }

  .question-card__content {
    margin-right: 0;
  }

  .question-card__details {
    align-items: flex-start;
  }
}

/* Tooltip Styles */
.question-card__title:hover + .question-card__tooltip {
  display: block;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  z-index: 1;
  white-space: normal;
  max-width: 400px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* Score Color Styles */
.question-card__score.positive {
  color: green;
  position: relative;
}
.question-card__score.positive:after {
  content: "\1403";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.question-card__score.negative {
  color: red;
  position: relative;
}

.question-card__score.negative:after {
  content: "\1401";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.col.tags-filter-wrapper {
  max-width: max(30vw, 200px);
}
